section.accordion-text-media {
	.atm {
		&-items-inner {
			@apply hidden;
		}

		&-items-wrapper {
			@apply ~gap-[2.5rem]/[7.875rem];
		}

		&-accs,
		&-images {
			@apply flex-1 min-w-0;
		}

		&-accs {
			@apply basis-[27.75rem];
		}

		&-images {
			@apply basis-[46.5rem] relative;

			.atm {
				&-image {
					@apply absolute pointer-events-none;
					@apply top-0 left-0 w-full h-auto;

					&.active {
						@apply pointer-events-auto relative;

						.atm-image-inner {
							@apply transition-all duration-500 ease-out;
							@apply opacity-100 delay-200;
							transform: none;
						}
					}
				}

				&-image-inner {
					@apply opacity-0;
					transform: translateY(1.25rem);
				}
			}
		}

		&-acc {
			&,
			& * {
				@apply cursor-pointer;
			}

			&.active {
				.atm {
					&-acc-body {
						@apply h-auto;
					}

					&-acc-body-inner {
						@apply transition-all duration-500 ease-out;
						@apply opacity-100;
						transform: none;
					}
				}
			}
		}

		&-acc-body {
			@apply h-0;
		}

		&-acc-body-inner {
			@apply opacity-0;
			transform: translateY(0.75rem);
		}
	}

	&.active {
		.atm {
			&-items-wrapper {
				@apply flex;
			}

			&-acc {
				.atm-image {
					@apply md:hidden;
				}
			}
		}
	}
}
