section.featured-resources {
	.fr {
		&-item {
			@apply border border-solid border-transparent;
			@apply transition-colors duration-500 ease-out;

			&:hover {
				border-color: var(--_colors---purple);
				background: rgba(0, 0, 0, 0);
				box-shadow: 0 0.5rem 0.5rem 0 rgba(123, 66, 188, 0.25);

				.fr-item-link-icon {
					transform: translateX(0.25rem);
				}
			}
		}

		&-item-link-icon {
			@apply transition-transform duration-300 ease-out;
		}
	}
}
