section.hero-featured-resources {
	.tc-arrow {
		@apply border border-solid border-transparent rounded-[0.25rem];
		@apply transition-colors duration-500 ease-out;

		&:hover {
			border-color: var(--_colors---purple);
			background: rgba(0, 0, 0, 0);
			box-shadow: 0 0.25rem 0.25rem 0 rgba(123, 66, 188, 0.25);
		}
	}

	.splide {
        @apply static;

		.splide__pagination {
            @apply w-fit bottom-0 h-[3rem] p-0;
		}
	}
}
