section.tabbed-contents {
	.tbc {
		&-tab {
			&,
			p {
				@apply transition-colors duration-300 ease-out;
			}

			&.active {
				background-color: var(--_colors---green);

				p {
					color: var(--_colors---black);
				}
			}

			&.active {
				background-color: var(--_colors---green);

				p {
					color: var(--_colors---black);
				}
			}
		}

		&-panel-item {
            transition: height 0.5s ease;
            @apply h-full;

			&:not(.active) {
                @apply h-[80%];
			}
		}
	}

	.splide__slide {
		@apply flex items-center;

		/* &:not(.is-active) {
			.tbc-panel-item {
				@apply h-[80%];
			}
		} */
	}
}
